@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --bg-color: #1450a3;
  --cor-primaria: #eeeeee;
}

body {
  background-color: var(--bg-color);
  color: var(--cor-primaria);
  min-height: 100vh;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.game-over{
  --bg-color: #a11010;
}

h1 {
  font-size: 5em;
}

h2{
  font-size: 4em;
}

h3 {
  font-size: 2em;
  margin-top: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--cor-primaria);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar{
  padding: 8px 15px;
  border: 0;
  background-color: var(--cor-primaria);
  cursor: pointer;
  border-radius: 5px;margin-top: 20px;
}
